.services_hero_section {
  height: 60vh;
  background-image: url('../images/aculgo_acupuncture_colors.jpg');
  background-position: 50% 10%;
  background-size: cover;
}

.info_section {
  height: auto;
  min-height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6fa;
  color: #333;
  text-decoration: none;
}

.blog_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._2_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
}

.pink_line {
  width: 100%;
  height: 0px;
  margin: 50px auto;
  border-style: none none solid;
  border-width: 0.5px;
  border-color: #f19e9e;
  color: #000;
}

.footer {
  height: 60vh;
  margin-top: 0px;
  padding-top: 75px;
  background-color: #e6e6fa;
}

.heading-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #000;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 55px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

._30_block {
  width: 30%;
  margin-top: 0px;
  padding: 25px 0px 0px;
  border-top: 1px none #000;
  font-size: 14px;
}

._70_block {
  width: 70%;
  padding: 20px;
}

.container_sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._3_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

._40_block {
  width: 40%;
  margin: 0px 25px;
  padding: 25px 0px 0px;
  border-top: 1px solid #000;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6fa;
  font-size: 13px;
  font-weight: 700;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.hero_block_h1 {
  margin: 20px auto 0px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.footer_header {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.footer_para {
  margin-bottom: 55px;
}

.hero_section {
  height: 100vh;
  background-image: url('../images/acuglo_acupuncture_hero_image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.services_section {
  height: auto;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e6e6fa;
}

._3_block_padding {
  width: 33.3%;
  padding: 30px;
}

.line_divide {
  margin: 20px auto;
  text-align: left;
}

.line_divide_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.services_para {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

.text-block-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.image-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-7 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service_desc_para {
  margin-top: 7px;
  margin-bottom: 15px;
  font-style: normal;
}

.text-block-5 {
  font-size: 12px;
  font-weight: 700;
}

.new_patient_cta {
  display: block;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdf9f5;
}

.what_they_say_page {
  height: auto;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: #faf2eb;
}

.home_cta {
  display: block;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.form_section {
  height: auto;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #faf2eb;
  color: #333;
  text-decoration: none;
}

.link_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.image-8 {
  max-width: 45%;
}

.hero_text_block {
  margin-top: 141px;
}

.about_us_hero_section {
  height: 60vh;
  background-image: url('../images/acuglo_acupuncture_plant_table.jpg');
  background-position: 50% 30%;
  background-size: cover;
}

.new_patients_hero_section {
  height: 60vh;
  background-image: url('../images/white-painted-concrete-wall-made-of-cubes-with-tiled-floor.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.new_patient_form_section {
  height: auto;
  min-height: 0vh;
  padding: 0px 0px 100px;
  background-color: #ffe4e1;
  color: #333;
  text-decoration: none;
}

._35_block {
  width: 35%;
  padding: 0px 25px 0px 0px;
}

._65_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-field {
  background-color: #fff;
}

.submit-button {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fe7f6b;
}

.field-label {
  color: #000;
}

.what_to_expect_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0px;
  padding: 100px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #d1bea8;
}

.grey_line_sm {
  width: 100%;
  height: 0px;
  margin: 50px auto;
  border-style: none none solid;
  border-width: 1px;
  border-color: #adadad;
  color: #000;
}

.contact_hero_section {
  height: 60vh;
  background-image: url('../images/aculgo_acupuncture_colors.jpg');
  background-position: 50% 40%;
  background-size: cover;
}

.form-block {
  width: 100%;
}

.link-3 {
  color: #fe7f6b;
  text-decoration: underline;
}

.heading-6 {
  margin-top: 0px;
  color: #000;
  font-size: 34px;
  line-height: 38px;
}

.services_list_item {
  color: #000;
  font-size: 14px;
  line-height: 21px;
}

.acuglo_body {
  color: #362419;
  font-size: 15px;
  line-height: 22.5px;
}

.form-block-2 {
  width: 90%;
}

.image-9 {
  width: 45%;
}

.hero_h1 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #362419;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
}

.italic-text-2 {
  font-size: 14px;
}

.paragraph-4 {
  font-size: 14px;
}

._2_block_row_hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 92.5vh;
  margin: 0px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_h2 {
  text-align: center;
}

.pre_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.our_blog_hero_section {
  height: 60vh;
  background-image: url('../images/abstract_background_acuglo.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.solo_para {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main_container {
  width: 90vw;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
}

.crads_img_mask {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
  border-radius: 0%;
}

.cards_img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.block_text_pre_h2 {
  padding-top: 30px;
  color: #3898ec;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
}

.cards_para {
  color: #333;
  text-align: left;
  text-decoration: none;
}

.cards_grid {
  display: -ms-grid;
  display: grid;
  margin-top: 35px;
  margin-bottom: 75px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}

.insurance_block {
  margin-top: 50px;
  margin-bottom: 0px;
}

.card_h3 {
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px #3898ec;
}

@media screen and (min-width: 1280px) {
  .block_text_pre_h2 {
    padding-top: 0px;
  }
}

@media screen and (max-width: 991px) {
  .main_container {
    width: 90vw;
  }

  .cards_grid {
    grid-column-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .cards_grid {
    max-width: none;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .solo_para {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
  }

  .main_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cards_img {
    -o-object-position: 50% 100%;
    object-position: 50% 100%;
  }

  .cards_para {
    text-align: left;
  }

  .cards_grid {
    margin: 0px 0px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bb9-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bbb-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bb1-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bb3-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bc8-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bca-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bcf-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bd1-0a41454d {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bc5-0a41454d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bbe-0a41454d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_310641d8-a9c4-828b-e4cc-683e788b9bcc-0a41454d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}