.services_hero_section {
  height: 60vh;
  background-image: url('../images/mountains.jpg');
  background-position: 50% 10%;
  background-size: cover;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #c4ae9c;
}

.paragraph {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.info_section {
  height: auto;
  min-height: 150vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #faf2eb;
  color: #9c4b4b;
  text-decoration: none;
}

.doctor_block {
  height: 70vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fdf9f5;
}

.services_cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._2_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #333;
}

.heading {
  overflow: visible;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 48px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image {
  max-width: 55%;
  margin-left: 50px;
  font-weight: 400;
}

.pink_line {
  width: 1000px;
  height: 0px;
  margin: 50px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #f19e9e;
  color: #000;
}

.image-2 {
  max-width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  height: 60vh;
  margin-top: 0px;
  padding-top: 75px;
  background-color: #deb396;
}

.heading-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #000;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

._30_block {
  width: 30%;
  margin-top: 0px;
  padding: 25px 0px 0px;
  border-top: 1px solid #000;
}

._70_block {
  width: 70%;
  padding: 20px;
}

.container_sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._3_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px;
  margin-bottom: 25px;
}

._40_block {
  width: 40%;
  margin: 0px 25px;
  padding: 25px 0px 0px;
  border-top: 1px solid #000;
}

.navbar {
  background-color: transparent;
  font-size: 11px;
}

.nav-menu {
  position: static;
  text-align: left;
}

.brand {
  position: static;
}

.container-2 {
  display: block;
}

.directory_h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
}

.footer_header {
  margin-bottom: 10px;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
}

.footer_para {
  margin-bottom: 55px;
}

.heading-4 {
  text-align: center;
}

.directory_section {
  height: 90vh;
  background-image: url('../images/moxa_arm.png');
  background-position: 50% 0%;
  background-size: cover;
}

.directory_spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block {
  margin-right: 65px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #000;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 201px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.love_notes_section {
  height: auto;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #faf2eb;
}

._3_block {
  width: 33.3%;
}

.text-block-2 {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

.image-3 {
  margin: 20px auto;
  text-align: left;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.directory_h2-copy {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.research_link {
  margin-bottom: 10px;
  color: #000;
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
}

.italic-text {
  color: #fda292;
  text-align: left;
  text-decoration: underline;
}

.paragraph-2 {
  color: #333;
}

.text-block-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.link-2 {
  text-decoration: none;
}

.div-block-5 {
  padding: 15px;
  border-left: 1px solid #fda292;
}

.image-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-block-4 {
  color: #333;
}

.image-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-7 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.services_cost_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 150vh;
  margin: 0px;
  padding: 100px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-6 {
  height: 250px;
  margin-top: 50px;
  background-image: url('../images/Plants.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.grey_line {
  width: 1000px;
  height: 0px;
  margin: 50px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #adadad;
  color: #000;
}

.service_desc_para {
  margin-top: 7px;
  margin-bottom: 15px;
  font-style: italic;
}

.services_price_block {
  margin-top: 15px;
  margin-bottom: 0px;
  font-weight: 700;
}

.black_line_sm {
  width: 20px;
  height: 0px;
  margin: 25px auto 25px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #000;
}

.text-block-5 {
  font-size: 12px;
  font-weight: 700;
}

.heading-5 {
  font-style: italic;
}

.new_patient_cta {
  display: block;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdf9f5;
}

.love_notes_page {
  height: auto;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: #faf2eb;
}