.services_hero_section {
  height: 60vh;
  background-image: url('../images/aculgo_acupuncture_colors.jpg');
  background-position: 50% 10%;
  background-size: cover;
}

.info_section {
  height: auto;
  min-height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e6e6fa;
  color: #333;
  text-decoration: none;
}

.blog_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._2_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._2_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
}

.pink_line {
  width: 100%;
  height: 0px;
  margin: 50px auto;
  border-style: none none solid;
  border-width: 0.5px;
  border-color: #f19e9e;
  color: #000;
}

.footer {
  height: 60vh;
  margin-top: 0px;
  padding-top: 75px;
  background-color: #e6e6fa;
}

.heading-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #000;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 55px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

._30_block {
  width: 30%;
  margin-top: 0px;
  padding: 25px 0px 0px;
  border-top: 1px none #000;
  font-size: 14px;
}

._70_block {
  width: 70%;
  padding: 20px;
}

.container_sm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._3_block_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

._40_block {
  width: 40%;
  margin: 0px 25px;
  padding: 25px 0px 0px;
  border-top: 1px solid #000;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6fa;
  font-size: 13px;
  font-weight: 700;
}

.nav-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.hero_block_h1 {
  margin: 20px auto 0px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.footer_header {
  margin-bottom: 10px;
  color: #362419;
  font-size: 14px;
  font-weight: 700;
}

.footer_para {
  margin-bottom: 55px;
}

.hero_section {
  height: 100vh;
  background-image: url('../images/acuglo_acupuncture_hero_image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.services_section {
  height: auto;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e6e6fa;
}

._3_block_padding {
  width: 33.3%;
  padding: 30px;
}

.line_divide {
  margin: 20px auto;
  text-align: left;
}

.line_divide_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.services_para {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

.text-block-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.image-4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-6 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.image-7 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.service_desc_para {
  margin-top: 7px;
  margin-bottom: 15px;
  font-style: normal;
}

.text-block-5 {
  font-size: 12px;
  font-weight: 700;
}

.new_patient_cta {
  display: block;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fdf9f5;
}

.what_they_say_page {
  height: auto;
  min-height: 100vh;
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: #faf2eb;
}

.home_cta {
  display: block;
  height: 40vh;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.form_section {
  height: auto;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #faf2eb;
  color: #333;
  text-decoration: none;
}

.link_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
}

.image-8 {
  max-width: 65%;
}

.hero_text_block {
  margin-top: 141px;
}

.about_us_hero_section {
  height: 60vh;
  background-image: url('../images/acuglo_acupuncture_plant_table.jpg');
  background-position: 50% 30%;
  background-size: cover;
}

.new_patients_hero_section {
  height: 60vh;
  background-image: url('../images/white-painted-concrete-wall-made-of-cubes-with-tiled-floor.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.new_patient_form_section {
  height: auto;
  min-height: 0vh;
  padding: 0px 0px 100px;
  background-color: #ffe4e1;
  color: #333;
  text-decoration: none;
}

._35_block {
  width: 35%;
  padding: 0px 25px 0px 0px;
}

._65_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.select-field {
  background-color: #fff;
}

.submit-button {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fe7f6b;
}

.field-label {
  color: #000;
}

.what_to_expect_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0px;
  padding: 100px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #d1bea8;
}

.grey_line_sm {
  width: 100%;
  height: 0px;
  margin: 50px auto;
  border-style: none none solid;
  border-width: 1px;
  border-color: #adadad;
  color: #000;
}

.contact_hero_section {
  height: 60vh;
  background-image: url('../images/aculgo_acupuncture_colors.jpg');
  background-position: 50% 40%;
  background-size: cover;
}

.form-block {
  width: 100%;
}

.link-3 {
  color: #fe7f6b;
  text-decoration: underline;
}

.heading-6 {
  margin-top: 0px;
  color: #000;
  font-size: 34px;
  line-height: 38px;
}

.services_list_item {
  color: #000;
  font-size: 14px;
  line-height: 21px;
}

.acuglo_body {
  color: #362419;
  font-size: 15px;
  line-height: 22.5px;
}

.form-block-2 {
  width: 90%;
}

.hero_h1 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #362419;
  font-size: 55px;
  line-height: 65px;
  text-align: center;
}

.italic-text-2 {
  font-size: 14px;
}

.paragraph-4 {
  font-size: 14px;
}

._2_block_row_hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 92.5vh;
  margin: 0px 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_h2 {
  color: #362419;
  text-align: center;
}

.pre_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.our_blog_hero_section {
  height: 60vh;
  background-image: url('../images/abstract_background_acuglo.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.solo_para {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main_container {
  width: 90vw;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
}

.cards-wrap {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  margin: 50px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  background-color: rgba(32, 32, 32, 0.5);
  box-shadow: none;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  text-decoration: none;
}

.card:hover {
  box-shadow: none;
}

.card-image-wrap {
  overflow: hidden;
  width: 100%;
  padding: 20px 20px 0px;
  border-radius: 12px;
}

.card-image {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 16px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  text-decoration: none;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 4px;
  color: #362419;
  font-size: 16px;
  text-decoration: none;
}

.card-subtitle {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.card-text {
  margin-top: 12px;
  color: #fff;
}

.italic-text-3 {
  color: #362419;
  font-style: normal;
  text-decoration: none;
}

.link-4 {
  text-decoration: none;
}

.italic-text-4 {
  color: #362419;
  font-style: normal;
  text-decoration: none;
}

.link-5 {
  text-decoration: none;
}

.nav-link {
  color: #5a341d;
}

.nav-link.w--current {
  color: #0d98b9;
}

.italic-text-5 {
  color: #362419;
  font-style: normal;
  text-decoration: none;
}

.link-6 {
  text-decoration: none;
}

.italic-text-6 {
  font-style: normal;
}

.link-7 {
  color: #362419;
  text-decoration: none;
}

.link-8 {
  color: #362419;
  text-decoration: none;
}

.italic-text-7 {
  font-style: normal;
}

.link-9 {
  color: #362419;
  text-decoration: none;
}

.link-10 {
  color: #362419;
  text-decoration: none;
}

.link-11 {
  color: #362419;
  text-decoration: none;
}

.link-12 {
  color: #362419;
  text-decoration: none;
}

.paragraph-5 {
  color: #362419;
  text-decoration: none;
}

.collection-list-wrapper {
  display: block;
  width: 100%;
}

.collection-list {
  width: 100%;
}

.flex-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e6e6fa;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.bake72 {
  max-width: 320px;
  margin: 35px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.51);
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform: perspective(1200px) perspective(1200px);
  transform: perspective(1200px) perspective(1200px);
  color: #333;
  text-decoration: none;
}

.bake72__title {
  margin-top: 0px;
  color: #200c52;
  font-size: 26px;
  line-height: 22px;
  font-weight: 700;
}

.bake72__image {
  min-height: 260px;
  margin-top: 15px;
  margin-right: -35px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-image: url('../images/charles-AQRp2NH-O8k-unsplash_compressed.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.48);
  -webkit-transform: translate3d(0px, 0px, 20px);
  transform: translate3d(0px, 0px, 20px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bake72__price {
  margin-bottom: 10px;
  color: #818181;
  font-size: 17px;
}

.bake72__button {
  display: block;
  overflow: hidden;
  margin-top: 20px;
  margin-right: -25px;
  margin-left: -25px;
  padding: 12px 30px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0cd33e;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
}

.bake72__button:hover {
  background-color: #0ba532;
}

.bake72__button__text {
  padding-top: 12px;
  padding-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .blog_section {
    padding-top: 100px;
  }

  .footer {
    height: auto;
  }

  .main_container {
    width: 90vw;
  }

  .cards-wrap {
    grid-column-gap: 24px;
  }

  .card-subtitle {
    margin-bottom: 12px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .card-text {
    margin-top: 8px;
  }

  .menu-button {
    margin-right: 0px;
    margin-left: auto;
    text-align: center;
  }

  .flex-body {
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cards-wrap {
    grid-column-gap: 0px;
    grid-row-gap: 32px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .card-subtitle {
    margin-bottom: 4px;
  }

  .card-text {
    margin-top: 2px;
  }

  .bake72 {
    width: 300px;
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  ._30_block {
    width: 100%;
    text-align: center;
  }

  ._3_block_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  ._40_block {
    width: 100%;
    text-align: center;
  }

  .paragraph-4 {
    text-align: center;
  }

  .solo_para {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
  }

  .main_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .card-image {
    height: 240px;
  }

  .italic-text-7 {
    text-align: center;
  }

  .bake72 {
    margin-right: 20px;
    margin-left: 20px;
  }
}